<table border="1">
	<tr>
		<th>Outlet</th>
		<th>Business</th>
		<th>Token</th>
		<th>Type</th>
	</tr>
	<% @ed.each do |ed| %>
		<tr>
			<td>outlet_id: <%= ed.outlet_id %></td>
			<td>business_id: <%= ed.business_id %></td>
			<td>token: <%= ed.token %></td>
			<td>type: <%= ed.type %></td>
		</tr>
	<% end %>
</table>
